.register{
height:calc(100vh - 50px);
display: flex;
flex-direction: column;
    justify-content: center;
    background:linear-gradient(
        rgba(255,255,255,0.5),
        rgba(255,255,255,0.5)
    
    ), url("https://assets.newatlas.com/dims4/default/a05627b/2147483647/strip/true/crop/2000x1333+0+1/resize/1200x800!/quality/90/?url=http%3A%2F%2Fnewatlas-brightspot.s3.amazonaws.com%2F8a%2F13%2F564870064cf4b1deeac423436bcd%2Fdepositphotos-151972082-l-2015.jpg");
    background-size: cover;
    align-items: center;

 
}
.registerTitle{
    font-size: 50px;
}
.registerForm{
    margin-top: 20px;
    display: flex;

flex-direction: column;
}

.registerForm>label{
    margin: 10px 0;

}

.registerInput{
    padding: 10px;
    background-color: white;
    border: none;

}

.registerButton{
    margin-top: 20px;
    cursor: pointer
    ;
    background-color: teal;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;

}

.registerLoginButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color:lightcoral;
    cursor: pointer
    ;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
    
}